.full-banner{
    width: 1200px;
    height: 5335px;
    background-color: #fff;
    padding: 30px 30px 30px 150px;
    

}
.first-pic{
    
    position: center;
    width: 1000px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    

}
.text-happy{
    color: #c5a0a0;
    position: absolute;
    font-size: 32px;
    font-style: normal;
    text-align: center;
    line-height: normal;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
        
}
.party{
    color: #c5a0a0;
    position: absolute;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.cel{
    color: #c5a0a0;
    position: absolute;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.new-profile{
    width: 1600px;
    height: 7335px;
    display: inline-block;
    /* display: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%; */
    }
.off{
    display:block;
    width: 50%;
    color: red;
    font-size: 88px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.our-holiday{
    display:block;
    color: red;
    width: 50%;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-align: center;

}
.h3{
    color: #070211;
    display: block;
    width: 50%;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
   
}
.new-year-img{
    width: 300px 200;
    height: 300px;
    flex-shrink: 0;
    display: block;
    margin-top: auto;
    margin-right: none;
}
/* 3rd section */
.container{
    position: relative;
}
.group-70{
    width:auto ;
    height: auto;
    bottom: 30px;
    right: 30px;

}
.text-block{
    position: absolute;
    top:80px;
    left: 20px;
    background-color: none;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}
.join{
    
    text-decoration: double;
    color: rgb(18, 55, 88);
    list-style: none;
}
.third-por{
    text-align: center;

}
/* 4th section */
.red-bar{
    color: red;
}
.btn-now{
    color: aliceblue;
    background-color: red;
    font-size: 12px;
}
/* 5th section */


.fifth-section
{
    display: flex;
    padding: 30px 30px 30px 150px;
}
.new-offer{
    color: red;
    
}
.s2024{
    
    text-align: right;
}
.he2024{
    text-align: center;
    color: red;
}
.ellipse{
  display: block;

  width: 60%;
}
/* 6th section */

.sixth-srction{
 text-align: center;
}
.holidays-02{
    text-decoration: double;
    color: red;
}

/* 7th section */

/* 8th section */
.best-gift{
    color: red;
    text-decoration: double;
}

.column {
    display: block;
    height: 150px;
    width: 40%;
    background-color: white;
  }
  .row::after {
    display: flex;
    
    
  }
.column1 {
    display: block;
    height: 150px;
    width: 40%;
    background-color: white;
  }
  .row1::after {
    display: flex;
    
  }